@property --cyan-400 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(178, 100%, 50%);
}

@property --blue-500 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(215, 51%, 70%);
}

@property --blue-800 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(215, 32%, 27%);
}

@property --blue-900 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(216, 50%, 16%);
}

@property --blue-950 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(217, 54%, 11%);
}

body {
  font-family: Outfit, Courier, monospace;
  background-color: var(--blue-950);
}

hr {
  border: none;
  height: 0.5px;
  background-color: var(--blue-500);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 75%;
  background-color: var(--blue-800);
  overflow: hidden;
  padding: 24px;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  margin: auto;
  box-shadow: 0 1.2rem 0 0.8rem hsl(215, 61%, 10%);
}

.card--image-product {
  overflow: hidden;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  margin-bottom: 1.2rem;
  position: relative;
  cursor: pointer;
}

.card--image-product img {
  display: block;
  width: 100%;
  height: auto;
}

.card--image-product--overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.card--image-product:hover .card--image-product--overlay {
  background-color: hsla(178, 100%, 50%, 0.5);
}

.card--image-product--overlay img {
  opacity: 0;
  width: 48px;
  height: 48px;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.card--image-product:hover .card--image-product--overlay img {
  opacity: 1;
}

.card-description--title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.card-description--title:hover {
  color: var(--cyan-400);
  cursor: pointer;
}

.card-description--sub-title {
  color: var(--blue-500);
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.card-description--price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.card-description--price + hr {
  margin-bottom: 1.2rem;
}

.card-description--price-detail,
.card-description--price-time {
  display: flex;
  align-items: center;
}

.card-description--price-detail img,
.card-description--price-time img {
  margin-right: 10px;
}

.card-description--price-detail p {
  font-weight: 600;
  color: var(--cyan-400);
}

.card-description--price-time p {
  font-weight: 300;
  color: var(--blue-500);
}

.card-creator {
  display: flex;
  align-items: center;
  color: var(--blue-500);
  font-weight: 300;
}

.card-creator img {
  width: 40px;
  height: 40px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 1rem;
}

.card-creator-name {
  color: white;
}

.card-creator-name:hover {
  color: var(--cyan-400);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 21%;
  }
}
